@import '../../styles/variables';
@import '../../styles/mixins';

.main-layout {
  @include flex-column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  @include container;
  padding: $spacing-xl;
}
